h1
{
	text-align: center;
}
p.para2
{
	text-align: right;
	background: hotpink;
    border: black solid 1px;
	font-size: 2em;
	width: 33.33%;
	margin-left: auto;
	margin-top:0px ;
	margin-bottom: 0px;
	margin-right: 0px;
}

p.para
{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin: 0px;
}

@media (min-width: 992px)
{

.col-desktop
{
	float: left;
	width: 30%;
	margin-left: 3%;
	background: lightgray;
     border: black solid 1px;
}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.col-tablet1
	{
		float: left;
        width : 45%;
        margin-left: 2.5%;
       background: lightgray;
        border: black solid 1px;
        margin-bottom: 10px;
      


	}
	.col-tablet2
	{
		float: left;
		width: 92.5%;
		margin-left: 2.5%;
		background: lightgray;
        border: black solid 1px;


	}
}
@media (max-width: 767px){
.phone
{
 width: 100%;
 margin-bottom: 10px;
 background: lightgray;
 border: black solid 1px;
}
}
 

